@page "/Game/Details/{Id:int}"
@using GameReviewing.Models

<img src="@ThisGame.ImagePath" />
<h1>@ThisGame.Title</h1>
<ul>
    @foreach(Review review in ThisGame.GetReviews())
    {
        <li>@review.Rating, @review.Description, @review.UserUsername</li>    
    }
    <GameReviewing.Components.ReviewGameComponent Game="ThisGame" OnReviewAdded="(() => StateHasChanged())"/>
</ul>