@page "/Game/Add"
@page "/Game/Edit/{Id:int}"

    <EditForm EditContext="EditContext" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Title:</label>
            <div>
                <InputText class="form-control" placeholder="Title" @bind-Value="@Game.Title" />
                <ValidationMessage For="@(() => Game.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label>Image:</label>
            <div>
                <input @ref="InputElement" type="file" accept=".jfif, .jpg" @onchange="ImageSelected" />
                <ValidationMessage For="@(() => Game.Picture)" />
                @if (ShowImageValidationErrors)
                {
                    <div>
                        @foreach (string validationError in ImageValidationErrors)
                        {
                            <div style="color: red;">@validationError</div>
                        }
                    </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(ImageBase64))
            {
                <img src="data:image/jfif;base64, @ImageBase64" style="width: 285px; height: 380px;" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(GameParameter?.ImagePath))
                {
                    <img src="@GameParameter.ImagePath" style="width: 285px; height: 380px;" />
                }
                else if (!string.IsNullOrWhiteSpace(GameFromId?.ImagePath))
                {
                    <img src="@GameFromId.ImagePath" style="width: 285px; height: 380px;" />
                }
            }
        </div>
        @if (Adding)
        {
            <button class="btn btn-primary" type="submit">Add Game</button>
        }
        else
        {
            <button class="btn btn-primary" type="submit">Save changes</button>
        }

    </EditForm>