<div @onclick="((MouseEventArgs e) => ReviewGame(e))" class="btn btn-primary">Review</div>

@if (Show)
{
    <div class="reviewGameComponent" style="position: fixed; top: @(Top)px; left: @(Left)px; background-color: lightgray; padding: 10px; width:425px; z-index: 1;">
        <EditForm EditContext="EditContext" OnSubmit="LeaveReview">
            <DataAnnotationsValidator />
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 310px;">
                    Reviewing @Game.Title
                </div>
                <div @onclick="(() => Show = false)" style="cursor: pointer;">
                    X
                </div>
            </div>
            <div class="form-group">
                <label>Rating:</label>
                <div>
                    <InputNumber class="form-control" placeholder="Rating" @bind-Value="@Review.Rating" />
                    <ValidationMessage For="@(() => Review.Rating)" />
                </div>
            </div>
            <div class="form-group">
                <label>Description (optional):</label>
                <div>
                    <InputTextArea class="form-control" placeholder="Description" @bind-Value="@Review.Description" />
                    <ValidationMessage For="@(() => Review.Description)" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Leave review</button>
        </EditForm>
    </div>
}
